/* For information on how to create your own theme, please refer to:
http://ionicframework.com/docs/theming/ */

:root {

  /* Color de fondo de toda la app */
  --ion-background-color: #ffffff;

  /* Color del texto */
  --ion-text-color: #000000;

  ion-buttons ion-icon{
  color:black;
  }

  ion-toolbar {
  position: relative;
  }

  ion-title{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  text-align:center;
  }



}
